.about {
    padding-top: 350px;
    padding-bottom: 60px;
}
.about .col-ml-12{
    margin-bottom: 90px;
}
.about__item {
    display: flex;
    align-items: flex-start;
}

.about__item-icon {
    width: 120px !important;
    height: 100px !important;
    display: block;
    border-radius: 50%;
    background-color: #FFBBBB;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
}

.icon1 {
    background-image: url(../img/cat-icon.svg);
}
.icon2 {
    background-color: #BBFFD6;
    background-image: url(../img/med-icon.svg);
}
.icon3 {
    background-color: #C5BBFF;
    background-image: url(../img/hurt-hand.svg);
}
.about__item-content{
    margin-left: 25px;
}
.about__item-content h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.about__item-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding-top: 10px;
}

@media(max-width:1200px){
    .about__item{
        display: block;
    }
    .about__item-content h3 {
        font-size: 19px;
        line-height: 24px;
    }
    .about__item-content p {
        font-size: 15px;
        line-height: 18px;
        padding-top: 10px;
    }
    .about__item-icon{
        margin-bottom: 40px;
    }
}
@media(max-width:768px){
    .about__item{
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }
    .about__item-icon{
        width: 70px;
        height: 70px;
    }
}
.section-title{
    font-size: 30px;
}
   
}
@media(max-width:360px){
    
    .about__item-icon{
        width: 30px;
        height: 30px;
    }
    .section-title{
        font-size: 24px;
    }
}