.catalog {
    padding-top: 83px;
    padding-bottom: 64px;
    background-color: rgba(228, 228, 228, 0.72);
}
.container-catalog{
    max-width: 1300px;
    margin: 0 auto;
}

.catalog .col-12{
    padding-right: 0px;
    padding-left: 0px;
}
.catalog-title {
    width: 100%;
    margin-bottom: 40px;
}

.catalog__filter {
    list-style: none;
    display: flex;
    margin-bottom: 75px;
    justify-content: space-around;
    cursor: pointer;
}

.filter-button {
    background: #EBEBEB;
    box-shadow: -4px -4px 16px #FFFFFF, 4px 4px 11px #BABABA;
    border-radius: 46px;
    padding: 12px 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.active-filter {
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.25);
}
.catalog__content{
    margin: 0 auto;
}
.catalog__slider{
    padding: 0 40px;
    margin: 0 auto;
}
.catalog__item {
    width: 340px;
    height: 540px;
    padding: 16px 16px;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    margin: 40px 50px;
}

.catalog__date, .filters {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.catalog__date span, .filters span {
    display: block;
    font-size: 13px;
    margin: 0 4px;
}

.c-date-number {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid rgba(140, 140, 140, 0.46);
    padding: 5px 8px;
    text-align: center;
}

.type-round, .breed-round {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #C0BBFF;
}

.breed-round {
    background-color: rgba(255, 26, 39, 0.33);
}

.catalog__item img {
    display: block;
    margin: 0 auto;
    margin-bottom: 47px;
    width: 100%;
    max-height: 236px;
    object-fit: contain;
}

.catalog__item h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
}

.catalog__item p {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 22px;
}

.item__price {
    
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #1FC911;
}
@media(max-width: 1300px){
    .container-catalog{
        max-width: 1100px;
    }
    .catalog__slider{
        padding: 0 30px;
    }
    .catalog__item {
        width: 300px;
        height: 500px;
        padding: 12px 12px;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
        margin: 20px 30px;
    }
    
    .catalog__date, .filters {
        margin-bottom: 18px;
    }
    .catalog__item img {
        margin-bottom: 35px;
        width: 100%;
        max-height: 200px;
    }
    
    .catalog__item h3 {
        line-height: 20px;
        margin-bottom: 14px;
    }
    
    .catalog__item p {
        margin-bottom: 18px;
    }
   
}
@media(max-width: 1100px){
    .container-catalog{
        max-width: 900px;
    }
    .catalog__item {
        width: 270px;
        height: 420px;
        padding: 12px 12px;
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
        margin: 20px 20px;
    }
    .catalog__item img {
        margin-bottom: 26px;
        max-height: 170px;
    }
}
@media(max-width: 900px){
    .container-catalog{
        max-width: 768px;
    }
}
@media(max-width: 768px){
    .container-catalog{
        max-width: 100%;
        padding: 0 15px;
    }
    .catalog__filter{
        flex-wrap: wrap;
        justify-content: start;
    }
    .filter-button{
        margin-right: 40px;
        margin-bottom: 20px;
    }
}
@media(max-width: 660px){
    .catalog__item {
        width: 400px;
        height: 480px;
        padding: 16px 16px;
        margin: 20px 20px;
    }
    .catalog__item img {
        margin-bottom: 26px;
        max-height: 210px;
    }
}
@media(max-width: 520px){
    .catalog__slider{
        padding: 20px;
    }
    .catalog__item {
        width: 300px;
        height: 450px;
        padding: 10px 10px;
        margin: 10px 10px;
        box-shadow: none;
    }
    .catalog__item img {
        margin-bottom: 15px;
        max-height: 210px;
    }
}
@media(max-width: 420px){

    .filter-button{
        margin-right: 10px;
     
    }
}
@media(max-width: 370px){
    .catalog__slider{
        padding: 0px;    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .catalog__item {
        width: 300px;
        height: auto;
        padding: 10px 10px;
        margin: 20 auto;
    }
}
@media(max-width: 300px){
    .catalog__item {
        width: 100%;
        padding: 5px 5px;
        margin: 20 auto;
    }
}
