.header {
    position: relative;
    padding-top: 55px;
    padding-bottom: 200px;
    background-color: #FFAA2C;
    background-image:url(../img/pet.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

.custom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo item */

.logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    width: 33px;
    height: 33px;
    background-color: #000;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background-image: url(../img/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 22px;
}

.logo-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 10px;
}

/* menu  */
.main-button{
    display: none;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-right: 40px;
}
.menu-item a{
    color: #000;
    cursor: pointer;
}

.shop-item{
    display: flex;
    align-items: center;
}
.contact-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-right: 50px;
}
.contact-item>a{
    color: #000;
}

.shop-icon{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #000;
    background-image: url(../img/shop-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-right: 10px;
}
.shop-item>i{
    width: 8px;
    height: 8px;
    display: block;
    background-image: url(../img/polygon.svg);
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 8px;
    margin-left: 6px;
}

/* header content */

.header__inner {
    padding-top: 210px;
    padding-bottom: 300px;
}

.main__title {
    max-width: 483px;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
}

.main__text {
    max-width: 400px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-button {
    padding: 15px 28px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: linear-gradient(113.18deg, #FF1A27 32.09%, #CA111C 85.58%);
    box-shadow: 0px 9px 35px rgba(240, 23, 36, 0.56);
    border-radius: 35px;
    cursor: pointer;
    transition: all .3s;
}

.main-button:hover {
    box-shadow: 0px 15px 24px rgba(240, 23, 36, 0.56);
    transform: translate(5px, -5px);
}

/* header slider */
.slider-wrap{
    position: absolute;
    bottom: -200px;
    left: 100px;
}

.cart {
    position: absolute;
    bottom: -100px;
}
.cart-slider{
    padding: 40px;
}
.cart__item {
    margin: 30px 50px;
    padding-top: 10px;
    padding-bottom: 45px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.cart__item>a {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    padding-right: 20px;
    color: #000;
}

.cart-a::after {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 4.31px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/cart-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.cart-image {
    margin: 0 auto;
    display: block;
    max-width: 200px;
}

.slide-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10000;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.slide-btn.next{
    right: 0px;
    background-image: url(../img/right-arrow.svg);
}
.slide-btn.prev{
    left: 0px;
    background-image: url(../img/left-arrow.svg);
}
.scroll-track{
    height: 6px;
    width: 60%;
    background-color: rgba(228, 228, 228, 0.72);
    border-radius: 3px;
    margin: 0 auto;
    position: relative;
}
.scroll-item{
    width: 80px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 3px;
    transform: translateY(-50%);
    background: #8C8C8C;
    border-radius: 6px;
    transition: left .3s;
}

@media(max-width:1200px) {
    .menu-item, .contact-item{
        font-size: 14px;
    }
}

@media(max-width:1050px) {
    .menu-item{
        margin-right: 20px;
    }
    .contact-item{
        margin-right: 40px;
    }
}
@media(max-width:900px){
    .logo{
        width: 26px;
        height: 26px;
    }
    .custom-row{
        align-items: flex-start;
    }
    .menu{
        position: relative;
    }
    .menu-list{
        display: none;
        position: absolute;
        z-index: 10000;
        top: 300%;
        right: 0px;
        padding: 0 20px;
        border-radius: 6px;
        opacity: 0;
        overflow: hidden;
        background-color: rgb(86, 46, 133);
    }
    .menu-item{
        margin: 16px 0;
        text-align: right;
        position: relative;
    }
    .menu-item a {
        color: #fff;
    }
    .menu-button{
        display: block;
        width: 25px;
        height: 20px;
        position: relative;
        margin-left: 30px;
    }
    .menu-button>span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0px;
    }
    .menu-button>.l1{
        top: 0px;
    }
    .menu-button>.l2{
        top: 50%;
        transform: translateY(-50%);
        transform-origin: center;
    }
    .menu-button>.l3{
        bottom: 0px;
    }
    .slider-wrap{
        bottom: -200px;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@media(max-width:768px){
    .header__inner {
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .cart-slider{
        padding: 0px;
    }
    .cart__item {
        margin: 20px 30px;
        padding-top: 10px;
        padding-bottom: 45px;
        padding-left: 14px;
        padding-right: 14px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
    .cart__item>img{
        max-width: 150px;
    }
    
    .cart__item>a {
        font-size: 12px;
    }    
    .slide-btn{
        width: 23px;
        height: 23px;
        box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
    }
    .slide-btn.next{
        right: 0px;
    }
    .slide-btn.prev{
        left: 0px;
    }
}

@media(max-width: 520px){

    .contact-item{
        margin-right: 10px;
    }
    .menu-special{
        display: block;
    }
    .menu-button{
        margin-left: 10px;
    }
    .header__inner.col-sm-5{
        padding-right: 0px;
    }
    .main__title{
        font-size: 32px;
    }
    .main__text{
        font-size: 15px;
    }
    .scroll-item{
        width: 20px;
    }
}   
@media(max-width:450px){
    .main__title{
        font-size: 25px;
    }
    .menu-list{
        width: 300px;
        padding-bottom: 30px;
    }
    .contact-item {
        position: relative;
        margin-right: 0px;
        text-align: right;
    }
    .contact-item>a{
        color: #fff;
    }
    
}
