.our__team {
    background: #FFF4BB;
    padding-top: 110px;
    padding-bottom: 180px;
    position: relative;
}

.our__team-title2 {
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin: 26px 0;
}

.our__team-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.read__more{
    background-color: transparent;
    margin-top: 61px;
    color: #FF1A27;
    font-weight: bold;
    margin-bottom: 30px;
}
.read__more>i{
    display: inline-block;
    width: 8px;
    height:8px;
    background-image: url(../img/read-arrow.svg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: contain;
}
.dog-f{
    position: absolute;
    right: 35px;
    top: 28px;
}
.lapki{
    position: absolute;
    bottom: 0px;
    left: 30px;
}
.our__team-img{
    position: relative;
    max-width: 500px;
}
.our__team-img>img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ellips-img{
    position: absolute;
    left: 30%;
    top: 60%;
    clip-path: circle(46% at 49% 50%);
}

@media(max-width: 768px){
    .dog-f{
        width: 70px;
    }
    .lapki{
        width: 70px;
    }
}